[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
django = "==2.0"
django-bootstrap-form = "*"
django-bootstrap-datepicker = "*"

[requires]
python_version = "3.6"

[dev-packages]
ipython = "*"
"autopep8" = "*"
