{% extends 'seisnet/base.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}
    <form method="POST", role="form" class="form-horizontal">
{#        {% crispy station_form formset %}#}
        {% if station_form.instance.pk %}
            <legend>修改台站信息</legend>
        {% else %}
            <legend>新增台站信息</legend>
        {% endif %}

        {{ station_form | bootstrap_horizontal }}

        {{ powersupply_item_form_set.management_form }}
        {{ powersupply_item_form_set | bootstrap_horizontal }}

        {{ network_device_item_form_set | bootstrap_horizontal }}
        {{ network_device_item_form_set.management_form }}
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="save btn btn-primary">保存</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ station_form.media }}

{% endblock %}